@import url('http://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i|Montserrat:700,700i');


body.wp-autoresize {
	padding: 50px !important;
	font-family: 'Roboto Mono', monospace;
}

p {
	font-size: 1.125em;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-size: 1.6125em;
	margin: 0;
	padding: 0 0 10px 0;
}


h5 {
	font-size: 0.875em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 0 0 5px 0;
}

.wp-caption,
.embed {
	padding: 0 0 50px 0;
}

p + h5 {
	padding-top: 30px;
}