body.page-template-about {

	section#featured-photo {
		.caption {
			padding: 10px 0 0 0;
			text-align: right;

			p {
				font-family: $sofia;
				font-size: 0.8125em;
				line-height: 1.25em;
				color: $gray;
				font-style: italic;
			}
		}
	}

	section#biography {
		max-width: 725px;
		margin: 0 auto;
		padding: 25px 0 50px 0;
		
		@include tablet-portrait {
			padding: 75px 0 100px 0;
		}
		
		p {
		    font-size: 1.25em;
		    line-height: 1.6;
		    

		    @include tablet-portrait {
		    	font-size: 1.5625em;
		    }

		    & + p {
		    	padding: 25px 0 0 0;
		    }
		}

		ul {
			list-style-type: disc;
			padding: 25px 0 0 50px;

			li {
			    font-size: 1.125em;
			    line-height: 1.6;

			    & + li {
			    	padding: 10px 0 0 0;
			    }
			    

			    @include tablet-portrait {
			    	font-size: 1.375em;
			    }
			}
		}

		ul + p {
			padding: 25px 0 0 0;
		}

	}


	section#contact {
		text-align: center;

		h3 {
			font-size: 1.25em;
			line-height: 1.25em;
			padding: 0 0 25px 0;

			@include tablet-portrait {
				font-size: 1.5em;

				br {
					display: none;
				}
			}

			@include desktop {
				font-size: 2em;
			}
		}

		a {
			color: $slate;
			font-size: 0.8125em;
			font-family: $sofia;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			border: 1px solid;
			padding: 16px 32px 15px 32px;
			border-radius: 20px;

			display: inline-block;
			transition: all 0.2s ease-in-out;

			@include tablet-landscape {
				font-size: 1em;
				letter-spacing: 0.2em;
			}

			&:hover {
				background: $slate;
				color: $white;
			}
		}

	}




}