body.post-type-archive-work {

	section#work-gallery-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 50px;

		article {
			width: 100%;
			padding: 0 0 75px 0;
			
			@include tablet-portrait {
				width: 48%;
				padding: 0 0 100px 0;
			}

			section.thumbnail {
				img {
					border-radius: 3px;
					@include box-shadow;
				}
			}

			section.info {
				text-align: center;
				padding: 15px 0 0 0;

				@include tablet-portrait {
					padding: 20px 0 0 0;
				}

				h3 {
					font-family: $baskerville;
					font-size: 2em;
					padding: 0 0 10px 0;
				}

				h4 {
					font-size: 0.75em;
					letter-spacing: 0.15em;
					text-transform: uppercase;
				}
			}
			
		}

	}

}