section#blog {

	section#journal-header {
		padding: 25px 0 75px 0;

		img {
			width: 100%;
			max-width: 64px;
			margin: 0 auto;
		}
	}

	section.archive {
		max-width: 560px;
		margin: 0 auto;

		.year-header {
			h4 {
				font-weight: 900;
				font-size: 1.125em;
				padding: 0 0 20px;
				letter-spacing: 0.05em;				
			}
		}

		.month + .year-header {
			padding-top: 200px;

		}


		.month {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& + .month {
				padding-top: 37px;
				border-top: 1px solid #f5f5f5;;
				margin-top: 37px;
			}
		}

		aside {
			width: 100%;
			padding-bottom: 25px;

			@include tablet-portrait {
				width: 33.3333%;
				padding: 0;
			}

			h5.month-header {
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0.15em;
				color: #d5d5d5;
				font-size: 0.75em;
			}


		}

		section.posts {
			width: 100%;


			@include tablet-portrait {
				width: 66.6666%;
			}

			article.post {


				& + article.post {
					padding-top: 40px;

				}
			}


		}

		.info {

			.tags {
				padding: 0 0 10px 0;

				a {
					color: #d5d5d5;
					text-transform: uppercase;
					font-size: 0.75em;
					font-weight: bold;
					font-family: $sofia;
					letter-spacing: 0.1em;
					transition: color 0.3s ease-in-out;

					&:hover {
						color: #b5b5b5;
					}

					&:before {
						content: '#';
					}

					& + a {
						margin-left: 10px;
					}
				}
			}

			h3 {
				font-size: 1.375em;
				line-height: 1.125em;
				font-family: $baskerville;

				a:hover {
					box-shadow: inset 0 -10px 0 $yellow;
					overflow-wrap: break-word;
					word-break: break-word;
					word-wrap: break-word;					
				}
			}

			.date {
				padding: 5px 0 0 0;

				em {
					color: #c5c5c5;
					font-family: $sofia;
					font-weight: 400;
					font-size: 0.8125em;
					font-style: normal;
				}
			}
		}
	}




}


