header {
	padding: 50px 0 50px 0;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	div.logo {
		max-width: 250px;

		@include mobile-landscape {
			max-width: 300px;
		}

		@include tablet-portrait {
			max-width: 250px;
		}

		@include tablet-landscape {
			max-width: 388px;
		}

		a {
			display: block;
		}
	}

	nav {
		display: none;
		position: absolute;
		width: 100%;
		height: 100vh;
		background: rgba(255, 255, 255, 0.95);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;

		@include tablet-portrait {
			display: block !important;
			position: static;
			width: auto;
			height: auto;
			background: transparent;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			z-index: 1;
		}

		.nav-wrapper {
			display: flex;
			flex-direction: column;
			height: 100vh;
			justify-content: center;
			align-items: center;

			@include tablet-portrait {
				flex-direction: row;
				height: auto;
				justify-content: flex-end;
			}
		}


		a {
			font-size: 0.75em;
			padding: 25px 0;
			display: block;
			@include link-underline;
			font-family: $sofia;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: 600;

			@include tablet-portrait {
				& + a {
					margin-left: 30px;
				}
			}

			@include tablet-landscape {
				font-size: 0.875em;

				& + a {
					margin-left: 50px;
				}
			}


			

			&:after {
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}

			&:hover:after {
				opacity: 1;
			}

		}
	}

	#toggle {
		width: 25px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 20px;
		    height: 2px;
		    background: $charcoal;
		    border-radius: 2px;
		    transition: all 0.3s;
			transform: translateX(5px);

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 25px;
			    height: 2px;
			    background: $charcoal;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			    transform: translateX(-5px);
			}
			&:before {
			    top: -6px;
			}
			&:after {
			    top: 6px;
			}
		}
	}

	&.open {

		div.logo {
			z-index: 10001;
		}
		
		#toggle {
			z-index: 10001;

			.patty {
				background: none;

				&:after {
				    top: 0;
				    transform: rotate(45deg);
				}
				&:before {
				    top: 0;
				    transform: rotate(-45deg);
				}
			}
		}

	}

}

@include tablet-portrait {

	// Work Active
	body.post-type-archive-work,
	body.single-work {
		nav .nav-work {
			@include link-underline-active;
		}
	}

	// Approach Active
	body.page-template-approach {
		nav .nav-approach {
			@include link-underline-active;
		}
	}

	// About Active
	body.page-template-about {
		nav .nav-about {
			@include link-underline-active;
		}
	}

	// Blog Active
	body.blog,
	body.single-post,
	body.tag {
		nav .nav-blog {
			@include link-underline-active;
		}
	}

}
