body.home {

	section#about-statement {
		padding: 0 0 25px 0;

		@include tablet-portrait {
			padding: 0 0 80px 0;
		}		

		h1 {
			font-family: $baskerville;
			font-size: 1.5em;
			line-height: 1.125em;
			color: $slate;

			br {
				display: none;
			}

			@include tablet-portrait {
				font-size: 2.25em;
			}

			@include tablet-landscape {
				font-size: 3em;
				
				br {
					display: block;
				}
			}
		}

	}


	section#work-showcase {
		padding-bottom: 100px;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.project {
				margin: 0 0 2.5% 0;
				width: 100%;

				&-2,
				&-3 {
					width: 48.75%;
				}

				@include tablet-portrait {

					&-1,
					&-4 {
						width: 65.6666%;
					}

					&-2,
					&-3 {
						width: 31.6666%;
					}

				}

				img {
					border-radius: 3px;
					@include box-shadow;
				}

				a {
					display: block;

					.info {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						width: 100%;
						height: 100%;
						background: rgba(255, 255, 255, 0.95);
						content: '';
						opacity: 0;
						transition: opacity 0.3s ease-in-out;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						padding: 20px;

						&:hover {
							cursor: pointer;
						}

						h3 {
							font-family: $baskerville;
							font-size: 1.25em;
							line-height: 1.125em;
							color: $charcoal;

							@include mobile-landscape {
								font-size: 1.5em;
							}

							@include tablet-landscape {
								font-size: 2em;
							}
						}

						h4 {
							text-transform: uppercase;
							padding: 10px 0 0 0;
							letter-spacing: 0.15em;
							font-size: 0.625em;

							@include tablet-portrait {
								font-size: 0.75em;
								padding: 15px 0 0 0;
							}
						}
					}

					&:hover .info {
						opacity: 1;
					}
				}
			}
		}

	}


	section#pitch {
		padding: 50px 0;
		background: #f5f2f0;




		@include tablet-portrait {
			padding: 100px 0;
		}
		
		h3.section-header {
			color: #8c8075;
		}

		.copy {
			max-width: 920px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.col {
				width: 100%;

				@include tablet-portrait {
					width: 47.5%;
				}

				p {
					font-size: 1.125em;
					line-height: 1.4444em;

					& + p {
						padding: 25px 0 0 0;
					}

					@include tablet-portrait {
						font-size: 1.25em;
					}
				}
			}

		}
	}


	section#pricing {
		padding-top: 100px;

		h3.section-header {
			color: $slate;
		}

		.pricing-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include tablet-portrait {
				justify-content: space-between;
			}

			.option {
				width: 100%;
				margin: 0 0 25px 0;
				@include box-shadow;

				@include mobile-landscape {
					width: 47.5%;
					margin: 0 1.125% 1.5% 1.125%;
				}

				@include tablet-portrait {
					width: 31.3333%;
					max-width: 380px;
					margin: 0;
				}
			}
		}

		.option {
			background: $white;
			text-align: center;
			border: 1px solid rgba(42, 42, 42, 0.1);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 50px 0 40px 0;

			.name {
				padding: 0 0 48px 0;
				border-bottom: 2px solid #f5f5f5;


				h4 {
					text-transform: uppercase;
					font-size: 1.125em;
					letter-spacing: 0.05em;
					color: $green;
					font-weight: bold;
				}
			}

			.features {
				padding: 75px 25px;

				ul {
					li {
						font-family: $sofia;
						font-size: 1em;
						line-height: 1.25em;
						color: $gray;

						& + li {
							padding: 20px 0 0 0;
						}
					}
				}
			}


			.price {

				h4 {
					font-family: $baskerville;
					font-size: 1.875em;
				}
			}
		}

	}






}