body.page-template-links {


	section.links {

		.link-group {

			& + .link-group {
				margin-top: 50px;
				border-top: 1px solid $light-brown;
				padding-top: 50px;
			}
		}

		.link-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap:  20px;

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}

		.section-header {
			padding-bottom: 20px;

			h2 {
				font-size: 1.875em;
				font-weight: 900;
				color: $brown;

				&:after {
					display: block;
					content: '';
					width: 30px;
					height: 3px;
					background: $brown;
					margin-top: 20px;
				}

			}
		}

		.link {
			background: $white;
			border: 1px solid rgba(42, 42, 42, 0.1);
			padding: 20px;

			.anchor {
				a {
					font-weight: bold;
					font-family: $sofia;
					font-size: 1.375em;
					display: inline-block;
					padding: 4px 6px 4px 6px;
					color: $green;

					&:hover {
						background: $yellow;
						color: $slate;
					}
				}
			}

			.copy {
				padding: 5px 6px 0 6px;

				p {
					font-style: italic;
					font-size: 0.9375em;
				}

			}
		}
	}

}