body.single-post {

	article {
		padding-top: 50px;
		max-width: 725px;
		margin: 0 auto;

		.article-header {
			padding: 0 0 50px 0;

			span.date {
				color: $slate;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.8125em;
				font-family: $sofia;

				span.month-day {
					font-weight: bold;
				}

			}

			.tags {
				padding: 10px 0 25px 0;

				a {
					color: #d5d5d5;
					text-transform: uppercase;
					font-size: 0.75em;
					font-weight: bold;
					font-family: $sofia;
					letter-spacing: 0.1em;
					transition: color 0.3s ease-in-out;

					&:hover {
						color: #b5b5b5;
					}

					&:before {
						content: '#';
					}

					& + a {
						margin-left: 10px;
					}
				}
			}

			h1 {
				font-size: 2em;
				font-family: $baskerville;

				@include mobile-landscape {
					font-size: 3em;
				}

				@include tablet-landscape {
					font-size: 4em;
				}

				
			}


		}

		.article-body {
			font-family: $baskerville;

			h5 {
				text-transform: uppercase;
				letter-spacing: 0.15em;
				color: $gray;
				padding: 50px 0 5px 0;

				& + h3 {
					padding-top: 0;
				}
			}

			h3 {
				font-size: 1.75em;
				line-height: 1.25em;
				font-weight: 900;
				padding: 50px 0 25px 0;
				color: $slate;

			}

			p {
			    font-size: 1.375em;
			    line-height: 1.6;
			    padding: 0 0 30px 0;

			    @include tablet-portrait {
			    	font-size: 1.5625em;
			    }
			}

			blockquote {
				margin: 0 0 45px 50px;

				p {
					padding: 0;
					font-size: 1.25em;
					font-style: italic;
					color: $gray;

					@include tablet-portrait {
						font-size: 1.75em;
					}

					& + p {
						padding-top: 20px;
					}
				}
			}


			a {
				box-shadow: inset 0 -12px 0 $yellow;
				overflow-wrap: break-word;
				word-break: break-word;
				word-wrap: break-word;
			}

			.image {
				padding: 0 0 50px 0;
			}


			.wp-caption {
				width: auto !important;
				text-align: right;
				padding: 0 0 30px 0;
				
				p {
					font-family: $sofia;
					font-size: 0.8125em;
					color: $gray;
					font-style: italic;
					padding: 10px 0 0 0;
				}

				img {					
					width: auto !important;
					height: auto !important;
				}

				& + h5 {
					padding-top: 0;
				}				
			}

			iframe {
				margin: 0 auto 25px auto;
				display: block;
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);


				&[src^="https://tools.applemusic.com"] {
					max-width: 640px;
				}
			}

			.embed {
				padding: 0 0 50px 0;

				iframe {
					margin: 0;
				}

				&:first-of-type + h5 {
					padding-top: 0;

				}
			}


		}


	}





}