body.single-work {


	article {


	}

	section#article-header {

	}

	section#article-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.screenshot {
			width: 100%;

			@include tablet-landscape {
				width: 47.5%;
			}

			img {
				@include box-shadow;
				border-radius: 3px;
			}
		}

		.info {
			width: 100%;
			padding: 50px 0 0 0;

			@include tablet-landscape {
				width: 47.5%;
				padding: 0;
			}

			.description {
				margin: 0 0 50px 0;
				border-bottom: 1px solid rgba(42, 42, 42, 0.1);
				padding: 0 0 50px 0;

				p {
					font-size: 1.25em;
					line-height: 1.5em;

					& + p {
						padding: 25px 0 0 0;
					}

					@include tablet-landscape {
						font-size: 1.5em;
					}
				}

				a {
					text-decoration: underline;
					color: $green;
				}


			}
		}

		.details {
			&--item {
				padding: 0 0 50px 0;

				h4 {
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.875em;
					padding: 0 0 5px 0;
				}

				p {
					font-family: $sofia;
					font-size: 0.875em;
				}

				&.services {
					p {
						display: flex;

						span {
							&:after {
								content: '·';
								padding: 0 10px;
							}
						}

						.editorial {
							order: 1;
						}

						.design {
							order: 2;
						}

						.build {
							order: 3;
							&:after {
								content: '';
								padding: 0;
							}

						}

					}
				}

				&.view {
					padding: 0;
				}

			}
		}

	}






}