body {
	background: $off-white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


article.case-study {

	@include tablet-portrait {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 50px;
	}

	.info {
		padding: 50px 0 0 0;

		h2 {
			font-family: $baskerville;
			font-size: 2.5em;
		}

		h3 {
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 0.1em;
			font-size: 0.875em;
			padding: 10px 0 0 0;
		}

		.description {
			padding: 25px 0 0 0;
			font-family: $baskerville;
			color: $slate;

			&:after {
				margin: 50px 0;
				display: block;
				content: '';
				width: 50px;
				height: 2px;
			}

			@include tablet-portrait {
				padding: 50px 0 0 0;
			}

			p {
				font-size: 1.125em;
				line-height: 1.75em;

				@include tablet-landscape {
					font-size: 1.375em;
				}
				
			}
		}

		.testimonial {
			color: $slate;
			font-family: $baskerville;
			
			&:after {
				margin: 50px 0;
				display: block;
				content: '';
				width: 50px;
				height: 2px;
			}


			blockquote {
				padding: 0 0 30px 0;
				margin: 0;

				p {
					font-style: italic;
					font-size: 1.125em;
					line-height: 1.75em;

					@include tablet-landscape {
						font-size: 1.375em;
					}
				}
			}

			h5 {
				font-size: 1em;
				font-weight: bold;
			}

			h6 {
				font-size: 1em;
				font-style: italic;
				padding: 5px 0 0 0;
				font-family: $baskerville;

			}
		}

		.capabilities {
			display: flex;
			flex-wrap: wrap;

			a {
				display: block;

				font-size: 0.75em;
				font-weight: bold;
				padding: 8px 12px 8px 12px;
				border: 1px solid;
				margin: 0 10px 10px 0;
				border-radius: 3px;


			}
		}





	}
}