html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $baskerville;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sofia;
}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}


h1.page-title {
	font-family: $baskerville;
	font-size: 1.5em;
	font-weight: 400;
	padding: 0 0 50px 0;

	&:after {
		display: block;
		content: '';
		width: 30px;
		height: 1px;
		background: $slate;
		margin: 18px 0 0 0;
	}

	@include mobile-landscape {
		font-size: 2em;

		&:after {
			width: 40px;
			margin: 20px 0 0 0;
		}
	}
}

h3.section-header {
	color: $brown;
	font-size: 1.5em;
	line-height: 1.25em;
	text-align: center;
	padding: 0 0 25px 0;
	max-width: 640px;
	margin: 0 auto;

	@include tablet-portrait {
		font-size: 2.25em;
		padding: 0 0 50px 0;
		max-width: 960px;
	}

	br {
		display: none;

		@include tablet-landscape {
			display: block;
		}
	}
}

h4.sub {
	font-weight: bold;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.15em;

	@include tablet-portrait {
		font-size: 0.875em;
	}

	&.border {
		display: inline-block;
		border-bottom: 2px solid;
		padding: 0 0 5px 0;
	}
}

h5.tag {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0 0 10px 0;

	a {
		display: inline-block;
		@include link-underline;

		&:after {
			padding: 0 4px;
			height: 8px;
			transform: translate(-5px, -4px);
		}
	}
}

.btn {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 0.875em;
	padding: 8px 24px 9px 24px;
	border: 2px solid;
	border-radius: 5px;
	font-family: $sofia;
	display: inline-block;

	&:hover {
		background: $slate;
		color: $white;
		border-radius: 5px;
		border: 2px solid $slate;
	}
}