/* Colors
----------------------------------*/
$white: #fff;
$black: #000;

$charcoal: #4a4a4a;
$gray: #8a8a8a;
$off-white: #f8f8f8;

$red: #A85751;
$orange: #F9964F;


$green: #7E8D62;
$yellow: #F8FB8F;
$brown: #99785A;
$light-brown: #BEB9B0;
$gray: #595959;
$slate: #2a2a2a;

/* Typography
----------------------------------*/
$baskerville: "baskerville-urw", serif;
$sofia: "sofia-pro", sans-serif;


@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('fonts/TiemposHeadline-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Bold.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('fonts/TiemposHeadline-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

$tiempos-headline: 'Tiempos Headline', serif;