@charset "UTF-8";
/*

    Theme Name: Andrew Lovseth
    Theme URI: http://www.andrewlovseth.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 2.0 of The Andrew Lovseth
    Version: 2.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Regular.woff2") format("woff2"), url("fonts/TiemposHeadline-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-RegularItalic.woff2") format("woff2"), url("fonts/TiemposHeadline-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Bold.woff2") format("woff2"), url("fonts/TiemposHeadline-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-BoldItalic.woff2") format("woff2"), url("fonts/TiemposHeadline-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #F8FB8F;
  color: #2a2a2a;
  text-shadow: none; }

::selection {
  background: #F8FB8F;
  color: #2a2a2a;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea {
  color: #2a2a2a;
  font: 400 100%/1 "baskerville-urw", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sofia-pro", sans-serif; }

a {
  color: #2a2a2a;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

h1.page-title {
  font-family: "baskerville-urw", serif;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0 0 50px 0; }
  h1.page-title:after {
    display: block;
    content: '';
    width: 30px;
    height: 1px;
    background: #2a2a2a;
    margin: 18px 0 0 0; }
  @media screen and (min-width: 640px) {
    h1.page-title {
      font-size: 2em; }
      h1.page-title:after {
        width: 40px;
        margin: 20px 0 0 0; } }

h3.section-header {
  color: #99785A;
  font-size: 1.5em;
  line-height: 1.25em;
  text-align: center;
  padding: 0 0 25px 0;
  max-width: 640px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    h3.section-header {
      font-size: 2.25em;
      padding: 0 0 50px 0;
      max-width: 960px; } }
  h3.section-header br {
    display: none; }
    @media screen and (min-width: 1024px) {
      h3.section-header br {
        display: block; } }

h4.sub {
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.15em; }
  @media screen and (min-width: 768px) {
    h4.sub {
      font-size: 0.875em; } }
  h4.sub.border {
    display: inline-block;
    border-bottom: 2px solid;
    padding: 0 0 5px 0; }

h5.tag {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 0 10px 0; }
  h5.tag a {
    display: inline-block; }
    h5.tag a:after {
      display: block;
      width: 100%;
      padding: 0 5px;
      height: 10px;
      background: #F8FB8F;
      content: '';
      -webkit-transform: translate(-5px, -6px);
          -ms-transform: translate(-5px, -6px);
              transform: translate(-5px, -6px);
      z-index: -1;
      position: relative; }
    h5.tag a:after {
      padding: 0 4px;
      height: 8px;
      -webkit-transform: translate(-5px, -4px);
          -ms-transform: translate(-5px, -4px);
              transform: translate(-5px, -4px); }

.btn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 0.875em;
  padding: 8px 24px 9px 24px;
  border: 2px solid;
  border-radius: 5px;
  font-family: "sofia-pro", sans-serif;
  display: inline-block; }
  .btn:hover {
    background: #2a2a2a;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #2a2a2a; }

body {
  background: #f8f8f8; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  -webkit-transition: padding 0.2s ease-in;
  -o-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1260px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

@media screen and (min-width: 768px) {
  article.case-study {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px; } }

article.case-study .info {
  padding: 50px 0 0 0; }
  article.case-study .info h2 {
    font-family: "baskerville-urw", serif;
    font-size: 2.5em; }
  article.case-study .info h3 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 0.875em;
    padding: 10px 0 0 0; }
  article.case-study .info .description {
    padding: 25px 0 0 0;
    font-family: "baskerville-urw", serif;
    color: #2a2a2a; }
    article.case-study .info .description:after {
      margin: 50px 0;
      display: block;
      content: '';
      width: 50px;
      height: 2px; }
    @media screen and (min-width: 768px) {
      article.case-study .info .description {
        padding: 50px 0 0 0; } }
    article.case-study .info .description p {
      font-size: 1.125em;
      line-height: 1.75em; }
      @media screen and (min-width: 1024px) {
        article.case-study .info .description p {
          font-size: 1.375em; } }
  article.case-study .info .testimonial {
    color: #2a2a2a;
    font-family: "baskerville-urw", serif; }
    article.case-study .info .testimonial:after {
      margin: 50px 0;
      display: block;
      content: '';
      width: 50px;
      height: 2px; }
    article.case-study .info .testimonial blockquote {
      padding: 0 0 30px 0;
      margin: 0; }
      article.case-study .info .testimonial blockquote p {
        font-style: italic;
        font-size: 1.125em;
        line-height: 1.75em; }
        @media screen and (min-width: 1024px) {
          article.case-study .info .testimonial blockquote p {
            font-size: 1.375em; } }
    article.case-study .info .testimonial h5 {
      font-size: 1em;
      font-weight: bold; }
    article.case-study .info .testimonial h6 {
      font-size: 1em;
      font-style: italic;
      padding: 5px 0 0 0;
      font-family: "baskerville-urw", serif; }
  article.case-study .info .capabilities {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    article.case-study .info .capabilities a {
      display: block;
      font-size: 0.75em;
      font-weight: bold;
      padding: 8px 12px 8px 12px;
      border: 1px solid;
      margin: 0 10px 10px 0;
      border-radius: 3px; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  padding: 50px 0 50px 0; }
  header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header div.logo {
    max-width: 250px; }
    @media screen and (min-width: 640px) {
      header div.logo {
        max-width: 300px; } }
    @media screen and (min-width: 768px) {
      header div.logo {
        max-width: 250px; } }
    @media screen and (min-width: 1024px) {
      header div.logo {
        max-width: 388px; } }
    header div.logo a {
      display: block; }
  header nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; }
    @media screen and (min-width: 768px) {
      header nav {
        display: block !important;
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        z-index: 1; } }
    header nav .nav-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100vh;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (min-width: 768px) {
        header nav .nav-wrapper {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          height: auto;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end; } }
    header nav a {
      font-size: 0.75em;
      padding: 25px 0;
      display: block;
      font-family: "sofia-pro", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 600; }
      header nav a:after {
        display: block;
        width: 100%;
        padding: 0 5px;
        height: 10px;
        background: #F8FB8F;
        content: '';
        -webkit-transform: translate(-5px, -6px);
            -ms-transform: translate(-5px, -6px);
                transform: translate(-5px, -6px);
        z-index: -1;
        position: relative; }
      @media screen and (min-width: 768px) {
        header nav a + a {
          margin-left: 30px; } }
      @media screen and (min-width: 1024px) {
        header nav a {
          font-size: 0.875em; }
          header nav a + a {
            margin-left: 50px; } }
      header nav a:after {
        opacity: 0;
        -webkit-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out; }
      header nav a:hover:after {
        opacity: 1; }
  header #toggle {
    width: 25px;
    cursor: pointer;
    padding: 8px 0;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
    @media screen and (min-width: 768px) {
      header #toggle {
        display: none; } }
    header #toggle .patty {
      width: 20px;
      height: 2px;
      background: #4a4a4a;
      border-radius: 2px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
              transform: translateX(5px); }
      header #toggle .patty:after, header #toggle .patty:before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: #4a4a4a;
        position: absolute;
        z-index: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 2px;
        -webkit-transform: translateX(-5px);
            -ms-transform: translateX(-5px);
                transform: translateX(-5px); }
      header #toggle .patty:before {
        top: -6px; }
      header #toggle .patty:after {
        top: 6px; }
  header.open div.logo {
    z-index: 10001; }
  header.open #toggle {
    z-index: 10001; }
    header.open #toggle .patty {
      background: none; }
      header.open #toggle .patty:after {
        top: 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      header.open #toggle .patty:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }

@media screen and (min-width: 768px) {
  body.post-type-archive-work nav .nav-work:after,
  body.single-work nav .nav-work:after {
    opacity: 1; }
  body.page-template-approach nav .nav-approach:after {
    opacity: 1; }
  body.page-template-about nav .nav-about:after {
    opacity: 1; }
  body.blog nav .nav-blog:after,
  body.single-post nav .nav-blog:after,
  body.tag nav .nav-blog:after {
    opacity: 1; } }

footer {
  background: #2a2a2a;
  color: #fff;
  padding: 100px 0;
  margin: 75px 0 0 0; }
  @media screen and (min-width: 768px) {
    footer {
      margin: 150px 0 0 0;
      padding: 150px 0; } }
  footer .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .logo {
    padding: 0 0 50px 0; }
    @media screen and (min-width: 768px) {
      footer .logo {
        padding: 0 0 100px 0; } }
    footer .logo a {
      display: block;
      margin: 0 auto;
      max-width: 388px; }
    footer .logo h4 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 0.75em;
      padding: 20px 0 0 0;
      font-weight: bold; }
      @media screen and (min-width: 1280px) {
        footer .logo h4 {
          padding: 30px 0 0 0; } }
  footer nav {
    padding: 100px 0;
    display: none; }
    @media screen and (min-width: 768px) {
      footer nav {
        padding: 150px 0; } }
    footer nav a {
      color: #fff;
      font-family: "sofia-pro", sans-serif;
      font-size: 1.125em;
      display: block;
      margin: 20px 0; }
      footer nav a span {
        padding: 0 0 4px 0;
        border-bottom: 1px solid transparent;
        display: inline-block;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      @media screen and (min-width: 768px) {
        footer nav a {
          display: inline-block;
          margin: 0 20px 0 0; }
          footer nav a:after {
            content: '·';
            display: inline-block;
            margin: 0 0 0 20px; } }
      footer nav a:last-of-type {
        margin: 0; }
        footer nav a:last-of-type:after {
          padding: 0;
          display: none; }
      footer nav a:hover span {
        border-bottom: 1px solid #fff; }
  footer .contact h3 {
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      footer .contact h3 {
        font-size: 1.5em; }
        footer .contact h3 br {
          display: none; } }
    @media screen and (min-width: 1280px) {
      footer .contact h3 {
        font-size: 2em; } }
  footer .contact a {
    color: #fff;
    font-size: 0.8125em;
    font-family: "sofia-pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px solid;
    padding: 16px 32px 15px 32px;
    border-radius: 20px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 1024px) {
      footer .contact a {
        font-size: 1em;
        letter-spacing: 0.2em; } }
    footer .contact a:hover {
      background: #fff;
      color: #000; }

/*

    ----------------------------------------------------------------------
                                03 Pages
    ----------------------------------------------------------------------

*/
body.home section#about-statement {
  padding: 0 0 25px 0; }
  @media screen and (min-width: 768px) {
    body.home section#about-statement {
      padding: 0 0 80px 0; } }
  body.home section#about-statement h1 {
    font-family: "baskerville-urw", serif;
    font-size: 1.5em;
    line-height: 1.125em;
    color: #2a2a2a; }
    body.home section#about-statement h1 br {
      display: none; }
    @media screen and (min-width: 768px) {
      body.home section#about-statement h1 {
        font-size: 2.25em; } }
    @media screen and (min-width: 1024px) {
      body.home section#about-statement h1 {
        font-size: 3em; }
        body.home section#about-statement h1 br {
          display: block; } }

body.home section#work-showcase {
  padding-bottom: 100px; }
  body.home section#work-showcase .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body.home section#work-showcase .wrapper .project {
      margin: 0 0 2.5% 0;
      width: 100%; }
      body.home section#work-showcase .wrapper .project-2, body.home section#work-showcase .wrapper .project-3 {
        width: 48.75%; }
      @media screen and (min-width: 768px) {
        body.home section#work-showcase .wrapper .project-1, body.home section#work-showcase .wrapper .project-4 {
          width: 65.6666%; }
        body.home section#work-showcase .wrapper .project-2, body.home section#work-showcase .wrapper .project-3 {
          width: 31.6666%; } }
      body.home section#work-showcase .wrapper .project img {
        border-radius: 3px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
        transition: -webkit-box-shadow 0.5s ease-in-out;
        -o-transition: box-shadow 0.5s ease-in-out;
        transition: box-shadow 0.5s ease-in-out;
        transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; }
        body.home section#work-showcase .wrapper .project img:hover {
          -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
                  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); }
      body.home section#work-showcase .wrapper .project a {
        display: block; }
        body.home section#work-showcase .wrapper .project a .info {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.95);
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          padding: 20px; }
          body.home section#work-showcase .wrapper .project a .info:hover {
            cursor: pointer; }
          body.home section#work-showcase .wrapper .project a .info h3 {
            font-family: "baskerville-urw", serif;
            font-size: 1.25em;
            line-height: 1.125em;
            color: #4a4a4a; }
            @media screen and (min-width: 640px) {
              body.home section#work-showcase .wrapper .project a .info h3 {
                font-size: 1.5em; } }
            @media screen and (min-width: 1024px) {
              body.home section#work-showcase .wrapper .project a .info h3 {
                font-size: 2em; } }
          body.home section#work-showcase .wrapper .project a .info h4 {
            text-transform: uppercase;
            padding: 10px 0 0 0;
            letter-spacing: 0.15em;
            font-size: 0.625em; }
            @media screen and (min-width: 768px) {
              body.home section#work-showcase .wrapper .project a .info h4 {
                font-size: 0.75em;
                padding: 15px 0 0 0; } }
        body.home section#work-showcase .wrapper .project a:hover .info {
          opacity: 1; }

body.home section#pitch {
  padding: 50px 0;
  background: #f5f2f0; }
  @media screen and (min-width: 768px) {
    body.home section#pitch {
      padding: 100px 0; } }
  body.home section#pitch h3.section-header {
    color: #8c8075; }
  body.home section#pitch .copy {
    max-width: 920px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body.home section#pitch .copy .col {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.home section#pitch .copy .col {
          width: 47.5%; } }
      body.home section#pitch .copy .col p {
        font-size: 1.125em;
        line-height: 1.4444em; }
        body.home section#pitch .copy .col p + p {
          padding: 25px 0 0 0; }
        @media screen and (min-width: 768px) {
          body.home section#pitch .copy .col p {
            font-size: 1.25em; } }

body.home section#pricing {
  padding-top: 100px; }
  body.home section#pricing h3.section-header {
    color: #2a2a2a; }
  body.home section#pricing .pricing-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 768px) {
      body.home section#pricing .pricing-wrapper {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    body.home section#pricing .pricing-wrapper .option {
      width: 100%;
      margin: 0 0 25px 0;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
      transition: -webkit-box-shadow 0.5s ease-in-out;
      -o-transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; }
      body.home section#pricing .pricing-wrapper .option:hover {
        -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); }
      @media screen and (min-width: 640px) {
        body.home section#pricing .pricing-wrapper .option {
          width: 47.5%;
          margin: 0 1.125% 1.5% 1.125%; } }
      @media screen and (min-width: 768px) {
        body.home section#pricing .pricing-wrapper .option {
          width: 31.3333%;
          max-width: 380px;
          margin: 0; } }
  body.home section#pricing .option {
    background: #fff;
    text-align: center;
    border: 1px solid rgba(42, 42, 42, 0.1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0 40px 0; }
    body.home section#pricing .option .name {
      padding: 0 0 48px 0;
      border-bottom: 2px solid #f5f5f5; }
      body.home section#pricing .option .name h4 {
        text-transform: uppercase;
        font-size: 1.125em;
        letter-spacing: 0.05em;
        color: #7E8D62;
        font-weight: bold; }
    body.home section#pricing .option .features {
      padding: 75px 25px; }
      body.home section#pricing .option .features ul li {
        font-family: "sofia-pro", sans-serif;
        font-size: 1em;
        line-height: 1.25em;
        color: #595959; }
        body.home section#pricing .option .features ul li + li {
          padding: 20px 0 0 0; }
    body.home section#pricing .option .price h4 {
      font-family: "baskerville-urw", serif;
      font-size: 1.875em; }

body.post-type-archive-work section#work-gallery-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px; }
  body.post-type-archive-work section#work-gallery-wrapper article {
    width: 100%;
    padding: 0 0 75px 0; }
    @media screen and (min-width: 768px) {
      body.post-type-archive-work section#work-gallery-wrapper article {
        width: 48%;
        padding: 0 0 100px 0; } }
    body.post-type-archive-work section#work-gallery-wrapper article section.thumbnail img {
      border-radius: 3px;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
      transition: -webkit-box-shadow 0.5s ease-in-out;
      -o-transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; }
      body.post-type-archive-work section#work-gallery-wrapper article section.thumbnail img:hover {
        -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); }
    body.post-type-archive-work section#work-gallery-wrapper article section.info {
      text-align: center;
      padding: 15px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.post-type-archive-work section#work-gallery-wrapper article section.info {
          padding: 20px 0 0 0; } }
      body.post-type-archive-work section#work-gallery-wrapper article section.info h3 {
        font-family: "baskerville-urw", serif;
        font-size: 2em;
        padding: 0 0 10px 0; }
      body.post-type-archive-work section#work-gallery-wrapper article section.info h4 {
        font-size: 0.75em;
        letter-spacing: 0.15em;
        text-transform: uppercase; }

body.single-work section#article-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  body.single-work section#article-body .screenshot {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      body.single-work section#article-body .screenshot {
        width: 47.5%; } }
    body.single-work section#article-body .screenshot img {
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
      transition: -webkit-box-shadow 0.5s ease-in-out;
      -o-transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out;
      transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
      border-radius: 3px; }
      body.single-work section#article-body .screenshot img:hover {
        -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); }
  body.single-work section#article-body .info {
    width: 100%;
    padding: 50px 0 0 0; }
    @media screen and (min-width: 1024px) {
      body.single-work section#article-body .info {
        width: 47.5%;
        padding: 0; } }
    body.single-work section#article-body .info .description {
      margin: 0 0 50px 0;
      border-bottom: 1px solid rgba(42, 42, 42, 0.1);
      padding: 0 0 50px 0; }
      body.single-work section#article-body .info .description p {
        font-size: 1.25em;
        line-height: 1.5em; }
        body.single-work section#article-body .info .description p + p {
          padding: 25px 0 0 0; }
        @media screen and (min-width: 1024px) {
          body.single-work section#article-body .info .description p {
            font-size: 1.5em; } }
      body.single-work section#article-body .info .description a {
        text-decoration: underline;
        color: #7E8D62; }
  body.single-work section#article-body .details--item {
    padding: 0 0 50px 0; }
    body.single-work section#article-body .details--item h4 {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.875em;
      padding: 0 0 5px 0; }
    body.single-work section#article-body .details--item p {
      font-family: "sofia-pro", sans-serif;
      font-size: 0.875em; }
    body.single-work section#article-body .details--item.services p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      body.single-work section#article-body .details--item.services p span:after {
        content: '·';
        padding: 0 10px; }
      body.single-work section#article-body .details--item.services p .editorial {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
      body.single-work section#article-body .details--item.services p .design {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
      body.single-work section#article-body .details--item.services p .build {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
        body.single-work section#article-body .details--item.services p .build:after {
          content: '';
          padding: 0; }
    body.single-work section#article-body .details--item.view {
      padding: 0; }

body.page-template-about section#featured-photo .caption {
  padding: 10px 0 0 0;
  text-align: right; }
  body.page-template-about section#featured-photo .caption p {
    font-family: "sofia-pro", sans-serif;
    font-size: 0.8125em;
    line-height: 1.25em;
    color: #595959;
    font-style: italic; }

body.page-template-about section#biography {
  max-width: 725px;
  margin: 0 auto;
  padding: 25px 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-about section#biography {
      padding: 75px 0 100px 0; } }
  body.page-template-about section#biography p {
    font-size: 1.25em;
    line-height: 1.6; }
    @media screen and (min-width: 768px) {
      body.page-template-about section#biography p {
        font-size: 1.5625em; } }
    body.page-template-about section#biography p + p {
      padding: 25px 0 0 0; }
  body.page-template-about section#biography ul {
    list-style-type: disc;
    padding: 25px 0 0 50px; }
    body.page-template-about section#biography ul li {
      font-size: 1.125em;
      line-height: 1.6; }
      body.page-template-about section#biography ul li + li {
        padding: 10px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.page-template-about section#biography ul li {
          font-size: 1.375em; } }
  body.page-template-about section#biography ul + p {
    padding: 25px 0 0 0; }

body.page-template-about section#contact {
  text-align: center; }
  body.page-template-about section#contact h3 {
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-about section#contact h3 {
        font-size: 1.5em; }
        body.page-template-about section#contact h3 br {
          display: none; } }
    @media screen and (min-width: 1280px) {
      body.page-template-about section#contact h3 {
        font-size: 2em; } }
  body.page-template-about section#contact a {
    color: #2a2a2a;
    font-size: 0.8125em;
    font-family: "sofia-pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px solid;
    padding: 16px 32px 15px 32px;
    border-radius: 20px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 1024px) {
      body.page-template-about section#contact a {
        font-size: 1em;
        letter-spacing: 0.2em; } }
    body.page-template-about section#contact a:hover {
      background: #2a2a2a;
      color: #fff; }

section#blog section#journal-header {
  padding: 25px 0 75px 0; }
  section#blog section#journal-header img {
    width: 100%;
    max-width: 64px;
    margin: 0 auto; }

section#blog section.archive {
  max-width: 560px;
  margin: 0 auto; }
  section#blog section.archive .year-header h4 {
    font-weight: 900;
    font-size: 1.125em;
    padding: 0 0 20px;
    letter-spacing: 0.05em; }
  section#blog section.archive .month + .year-header {
    padding-top: 200px; }
  section#blog section.archive .month {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    section#blog section.archive .month + .month {
      padding-top: 37px;
      border-top: 1px solid #f5f5f5;
      margin-top: 37px; }
  section#blog section.archive aside {
    width: 100%;
    padding-bottom: 25px; }
    @media screen and (min-width: 768px) {
      section#blog section.archive aside {
        width: 33.3333%;
        padding: 0; } }
    section#blog section.archive aside h5.month-header {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.15em;
      color: #d5d5d5;
      font-size: 0.75em; }
  section#blog section.archive section.posts {
    width: 100%; }
    @media screen and (min-width: 768px) {
      section#blog section.archive section.posts {
        width: 66.6666%; } }
    section#blog section.archive section.posts article.post + article.post {
      padding-top: 40px; }
  section#blog section.archive .info .tags {
    padding: 0 0 10px 0; }
    section#blog section.archive .info .tags a {
      color: #d5d5d5;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: bold;
      font-family: "sofia-pro", sans-serif;
      letter-spacing: 0.1em;
      -webkit-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
      section#blog section.archive .info .tags a:hover {
        color: #b5b5b5; }
      section#blog section.archive .info .tags a:before {
        content: '#'; }
      section#blog section.archive .info .tags a + a {
        margin-left: 10px; }
  section#blog section.archive .info h3 {
    font-size: 1.375em;
    line-height: 1.125em;
    font-family: "baskerville-urw", serif; }
    section#blog section.archive .info h3 a:hover {
      -webkit-box-shadow: inset 0 -10px 0 #F8FB8F;
              box-shadow: inset 0 -10px 0 #F8FB8F;
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word; }
  section#blog section.archive .info .date {
    padding: 5px 0 0 0; }
    section#blog section.archive .info .date em {
      color: #c5c5c5;
      font-family: "sofia-pro", sans-serif;
      font-weight: 400;
      font-size: 0.8125em;
      font-style: normal; }

body.single-post article {
  padding-top: 50px;
  max-width: 725px;
  margin: 0 auto; }
  body.single-post article .article-header {
    padding: 0 0 50px 0; }
    body.single-post article .article-header span.date {
      color: #2a2a2a;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.8125em;
      font-family: "sofia-pro", sans-serif; }
      body.single-post article .article-header span.date span.month-day {
        font-weight: bold; }
    body.single-post article .article-header .tags {
      padding: 10px 0 25px 0; }
      body.single-post article .article-header .tags a {
        color: #d5d5d5;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: bold;
        font-family: "sofia-pro", sans-serif;
        letter-spacing: 0.1em;
        -webkit-transition: color 0.3s ease-in-out;
        -o-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }
        body.single-post article .article-header .tags a:hover {
          color: #b5b5b5; }
        body.single-post article .article-header .tags a:before {
          content: '#'; }
        body.single-post article .article-header .tags a + a {
          margin-left: 10px; }
    body.single-post article .article-header h1 {
      font-size: 2em;
      font-family: "baskerville-urw", serif; }
      @media screen and (min-width: 640px) {
        body.single-post article .article-header h1 {
          font-size: 3em; } }
      @media screen and (min-width: 1024px) {
        body.single-post article .article-header h1 {
          font-size: 4em; } }
  body.single-post article .article-body {
    font-family: "baskerville-urw", serif; }
    body.single-post article .article-body h5 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      color: #595959;
      padding: 50px 0 5px 0; }
      body.single-post article .article-body h5 + h3 {
        padding-top: 0; }
    body.single-post article .article-body h3 {
      font-size: 1.75em;
      line-height: 1.25em;
      font-weight: 900;
      padding: 50px 0 25px 0;
      color: #2a2a2a; }
    body.single-post article .article-body p {
      font-size: 1.375em;
      line-height: 1.6;
      padding: 0 0 30px 0; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body p {
          font-size: 1.5625em; } }
    body.single-post article .article-body blockquote {
      margin: 0 0 45px 50px; }
      body.single-post article .article-body blockquote p {
        padding: 0;
        font-size: 1.25em;
        font-style: italic;
        color: #595959; }
        @media screen and (min-width: 768px) {
          body.single-post article .article-body blockquote p {
            font-size: 1.75em; } }
        body.single-post article .article-body blockquote p + p {
          padding-top: 20px; }
    body.single-post article .article-body a {
      -webkit-box-shadow: inset 0 -12px 0 #F8FB8F;
              box-shadow: inset 0 -12px 0 #F8FB8F;
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word; }
    body.single-post article .article-body .image {
      padding: 0 0 50px 0; }
    body.single-post article .article-body .wp-caption {
      width: auto !important;
      text-align: right;
      padding: 0 0 30px 0; }
      body.single-post article .article-body .wp-caption p {
        font-family: "sofia-pro", sans-serif;
        font-size: 0.8125em;
        color: #595959;
        font-style: italic;
        padding: 10px 0 0 0; }
      body.single-post article .article-body .wp-caption img {
        width: auto !important;
        height: auto !important; }
      body.single-post article .article-body .wp-caption + h5 {
        padding-top: 0; }
    body.single-post article .article-body iframe {
      margin: 0 auto 25px auto;
      display: block;
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); }
      body.single-post article .article-body iframe[src^="https://tools.applemusic.com"] {
        max-width: 640px; }
    body.single-post article .article-body .embed {
      padding: 0 0 50px 0; }
      body.single-post article .article-body .embed iframe {
        margin: 0; }
      body.single-post article .article-body .embed:first-of-type + h5 {
        padding-top: 0; }

body.page-template-links section.links .link-group + .link-group {
  margin-top: 50px;
  border-top: 1px solid #BEB9B0;
  padding-top: 50px; }

body.page-template-links section.links .link-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }
  @media screen and (min-width: 768px) {
    body.page-template-links section.links .link-list {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

body.page-template-links section.links .section-header {
  padding-bottom: 20px; }
  body.page-template-links section.links .section-header h2 {
    font-size: 1.875em;
    font-weight: 900;
    color: #99785A; }
    body.page-template-links section.links .section-header h2:after {
      display: block;
      content: '';
      width: 30px;
      height: 3px;
      background: #99785A;
      margin-top: 20px; }

body.page-template-links section.links .link {
  background: #fff;
  border: 1px solid rgba(42, 42, 42, 0.1);
  padding: 20px; }
  body.page-template-links section.links .link .anchor a {
    font-weight: bold;
    font-family: "sofia-pro", sans-serif;
    font-size: 1.375em;
    display: inline-block;
    padding: 4px 6px 4px 6px;
    color: #7E8D62; }
    body.page-template-links section.links .link .anchor a:hover {
      background: #F8FB8F;
      color: #2a2a2a; }
  body.page-template-links section.links .link .copy {
    padding: 5px 6px 0 6px; }
    body.page-template-links section.links .link .copy p {
      font-style: italic;
      font-size: 0.9375em; }
